.full-width {
  width: 100%;
  color: black;
}

.date-filter-text {
  font-size: 0.7rem;
}

.example-container {
  box-shadow: none;
  height: auto;
  width: 100%;
  overflow: auto;
}

.footer {
  font-weight: bold;
}

table {
  width: 100%;
}
