.example-full-width {
    width: 100%;
    color: black;
}

::-ms-browse {
    background: #633ce0;
    color: #ffffff;
    border: 1px solid #633ce0;
    padding: 10px;
    border-radius: 15px;
}

 ::-webkit-file-upload-button {
    background: #633ce0;
    color: #ffffff;
    border: 1px solid #633ce0;
    padding: 10px;
    border-radius: 15px;
}